body {
	background-color: #777;
	width: 900px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 50px;
	padding-left: 200px;
	padding-right: 50px;
	color: black;
}

.header, .foot, .navbar, .section,
.aside, .foot, .h1h2h3, .artcbody,
.text{
	background-color: #ebebeb;
	text-align: center; 
	vertical-align: 50%; }

.header, .foot, .navbar {
	width: 100%;  
	margin: 10px 0px 10px 0px;}

.section, .aside{
	width: 49%; }

.mainbody{
	width: 100%;
}

.foot{
	clear: both; }

.section {
	float: left;
	margin: 10px 5px 10px 0px; 
	}

.aside{
	float: right;
	margin: 10px 0px 10px 5px; 
	height: 350px;}

/* Content color needs to be #ebebeb */
.article{
	background-color: #777;
	margin: 10px 5px 10px 5px; 
	color: white;}

.h1h2h3, .text{
	border: 5px solid #777; 
	color: black;}

.text{
	height: 150px;
	overflow: scroll;  }

.artcbody{
	margin: 10px;
	position: relative;
	bottom: 10px; }